# Python
__pycache__/
*.py[cod]

# Environnements virtuels
.venv/
venv/
env/
.env

# Tests et outils
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Système et éditeurs
.DS_Store
.vscode/
.idea/